<div>
    <div class="header fullWidth alignLeft">
        <div class="logo alignLeft">
            <image class="alignLeft" src="../images/fcaIcon.png"></image>
            <span class="logoRightLine"></span>
        </div>
        <div class="torqueMeasurement alignLeft">
            <h3>TORQUE MEASUREMENT</h3>
        </div>
        <div class="jefronDiv alignLeft">
            <p>Jefferson North Assembly Plant</p>
        </div>
        <div  class="alignLeft userDiv">
                <div class="alignRight">
                    <span class="userName">HELLO MIKE</span>
                    <span class="userIcon"><img height="40px" src="../images/userIcon.png"></span>
                    <span class="userDownArrow"><img src="../images/downArrow.png"></span>
                </div>
        </div>
    </div>
    <div class="fullWidth">
        <div class="leftNav">
            <ul>
                <li><span><i class="fa fa-home" width="20px"></i><span class="navNameSpan">Home</span></span></li>
            </ul>
        </div>
        <div class="mainViewDiv" ui-view></div>
    </div>
</div>